<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-32x32.png') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='indexstyles.css') }}?v={{ cfilesize }}">
	<title>API Landing Page</title>
</head>

<body>
	<div class=>
		<main role="main">

			<!-- Main jumbotron for a primary marketing message or call to action -->
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-3">API Apps</h1>
					<p>
					</p>
				</div>
			</div>

			<div class="container">
				<!-- Example row of columns -->
				<div class="row">
					<div class="col-md-4">
						<h2>Login</h2>
						<p>For admin use only. </p>
						<p><a class="btn btn-secondary" href="/login" role="button">Go &raquo;</a></p>
					</div>
					<div class="col-md-4">
						<h2>Add New Customer</h2>
						<p>For admin use only. </p>
						<p><a class="btn btn-secondary" href="/register" role="button">Go &raquo;</a></p>
					</div>
					<div class="col-md-4">
						<h2>Remove Customer</h2>
						<p>For admin use only. </p>
						<p><a class="btn btn-secondary" href="/remove" role="button">Go &raquo;</a></p>
					</div>
				</div>

				<hr>
				<div class="row">
					<div class="col-md-4">
						<h2>Logout</h2>
						<p>For admin use only. </p>
						<p><a class="btn btn-secondary" href="/logout" role="button">Go &raquo;</a></p>
					</div>
				</div>
				<hr>
			</div> <!-- /container -->

		</main>
	</div>
  
  {% block content %}{% endblock %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

	<footer class="container">
		<p>@ EDI 2019</p>
	</footer>
</body>
</html>


 
